[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[user]
	name = Marco Feng
	email = fhalcyon@gmail.com
[alias]
  a = add
  chu = add --patch
 
  st = status
  ss = status --short

  ci = commit
  cm = commit -m
  ca = commit -am
  mend = commit --amend

  co = checkout
  cb = checkout -b

  re = remote
  rv = remote -v
  br = branch
  bv = branch -v

  pl = pull
  pu = push

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	excludesfile = /Users/marco/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
  template = /Users/marco/.stCommitMsg
